body {
  justify-items: center;
}

button {
  width: 80%;
  max-width: 500px;
  height: 40px;
  border: 0.5px solid;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.navi {
  height: 80px;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
}

.navi div {
  width: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
